.container {
  --accent-color: light-dark(var(--color-gray-9), var(--color-gray-1));
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: calc(24rem / 16) auto calc(24rem / 16);
  margin-bottom: 1rem;
  position: relative;
  padding: 0.25em;
  &:where(.radio) {
    display: flex;
    flex-direction: column;
  }
}

.icon {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(24rem / 16);
  pointer-events: none;
  padding-left: calc(4rem / 16);

  &:where(.left) {
    grid-column: 1/ 2;
  }

  > svg {
    width: 1rem;
    height: 1rem;
  }
}

:is(label, .label) {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  color: light-dark(var(--color-gray-9), var(--color-gray-1));
  font-weight: 800;
  cursor: pointer;
  font-size: var(--font-size-sm);
  margin-bottom: 0.8em;
}

.input-container {
  grid-row: 2/3;
  grid-column: 1/4;
  display: grid;
  grid-template-rows: subgrid;
  border: 1px solid var(--accent-color);
  border-radius: 0.25em;

  &:has(input[type="radio"]) {
    display: flex;
    gap: var(--spacing-md);
    border: none;

    label {
      display: flex;
      align-items: center;
      gap: var(--spacing-xs);
    }
  }
}
input:not([type="radio"]),
select {
  min-height: calc(28rem / 16);
  border: none;
  border-radius: 0.25em;
}

.container:has(.icon) input:not([type="radio"]) {
  padding-right: calc(24rem / 16);
}

.container:has(.icon.left) input:not([type="radio"]) {
  padding-left: calc(32rem / 16);
  padding-right: 0.25em;
}

/* Reset del focus (input) */

:where(input, select):focus {
  outline: none;
}

.input-container:has(:where(input, select):focus-visible) {
  outline: 2px solid var(--accent-color);
}

/* ERROR STATE */

.error-text {
  color: light-dark(var(--color-red-7), var(--color-red-1));
  font-size: var(--font-size-sm);
  margin-top: 0.5em;
  grid-column: 1/4;
  display: none;
}

/* Invalid state (input) */
.container:where(.is-invalid) {
  --accent-color: var(--color-red-7);

  .error-text {
    display: block;
  }
}
